.title {
  em {
    font-style: italic;
  }
}

// style sidenote annotations
:global(.public-sidenotes) {
  .title {
    :global(.public-line) {
      width: 65px;
    }

    :global(.public-note) {
      width: 450px;
    }
  }
}
