$phone: 320px;
$tablet: 640px;
$laptop: 1024px;

$screen-margin-x: 16px;
$screen-margin-y: 16px;

@media (min-width: $tablet) {
  :root {
    $screen-margin-x: 32px;
    $screen-margin-y: 32px;
  }
}

@media (min-width: $laptop) {
  :root {
    $screen-margin-x: 96px;
    $screen-margin-y: 48px;
  }
}

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$yellow: #ffc857;
$brown: #442200;
$blue: #2016ff;
$red: #fb0202;
