.smiley {
  width: 30px;
  height: 30px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.eyes {
  display: flex;
  width: 45%;
  margin: 8px auto 0 auto;
  justify-content: space-between;
}

.eye {
  height: 4px;
  width: 4px;
  background-color: var(--brown);
  border-radius: 50%;
}

.smile {
  margin: -2px auto 0 auto;
  width: 12px;
  height: 10px;
  border-bottom: 2px solid var(--brown);
}
