.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 9000;
  pointer-events: none;
}

.block {
  margin-top: -1px; // prevents white line (gap) between blocks
  background: #ceb1be;
}

.block:nth-child(even) {
  background: #e2dcde;
}
